body{
    height : 100vh;

    background-color: black;
    color : white
}
h1{
background-color: black;
    font-size : 6vh;
}
h2{
 font-size : 4vw;
}
.scores {
    height : 20vh
}
.score{
    
    color : white;
    margin-top : 8vh;
    color : black;
    font-size : 8vh;
    border-radius: 12vw;

}
.choices {

    height : 35vh;

    border-radius: 3vh;
    margin-top : 3vh;
    margin-bottom : 3vh;
    border : 1vh solid orange;
    color : white;
    display : flex;
    justify-content: center;
    align-content: center;
    font-size : 19vh
}
button {
    height : 27vh;
    width : 25vw;
    background-size : 100% 100%;
    border-radius: 3vh;
    box-shadow: 0.8vh 0.5vh orange;
    color: rgba(255, 150, 0, 0.6)
}
.ciseaux{
    background-image: url('Ciseaux.png');
    background-size : 100% 100%;
}
.papier{
    background-image: url('Papier.png');
    background-size : 100% 100%;
}
.pierre{
    background-image: url('pierre.png');
    background-size : 100% 100%;
}
.score2{
    background-color: green;
}
.score1{
    background-color: red;
}


